body {
    background-color: rgb(179, 194, 207);
    margin: 0%;
    padding: 0%;
}

.main-section {
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 0 0;
}

.about-content {
    flex: 1;
    max-width: 50%;
}

.about-content h1 {
    text-align: center;
    text-decoration: underline solid #e61919;
    color: #000000;
    font-size: 36px;
    margin-top: 20px;
}

.about-content p {
    font-size: 18px;
    color: #333;
    line-height: 1.6;
    margin-right: 10px;
}

.banner-image {
    width:50%;
    height: 50%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.banner-image img {
    width: 100%;
    height: auto;
    max-width: 600px;
    height: auto;
    border-radius: 5px;
}
footer {
    background-color: #070707;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    a{
        color: #1804f4;
        text-decoration: none;
    }
}
